# PORT
PORT=2003

# Redirect Purpose
NEXT_PUBLIC_LANDINGPAGE_URL=https://postmatic.id
NEXT_PUBLIC_LOGIN_URL=https://api.postmatic.id/api/auth/page/login
NEXT_PUBLIC_SIGNUP_URL=https://api.postmatic.id/api/auth/page/register
NEXT_PUBLIC_DASHBOARD_URL=http://dashboard.postmatic.id/
NEXT_PUBLIC_API_URL=https://api.postmatic.id
POSTMATIC_REFRESH_COOKIE_NAME=postmaticRefreshToken

# Address & CP
NEXT_PUBLIC_EMAIL=team@postmatic.id
NEXT_PUBLIC_PHONE_NUMBER=+6285117606447
NEXT_PUBLIC_ADDRESS=Kab. Sleman<br />Yogyakarta<br />Indonesia
NEXT_PUBLIC_COMPANY_NAME=Postmatic

# Social Media
NEXT_PUBLIC_INSTAGRAM= https://www.instagram.com/postmatic.id?igsh=NzM2aGJkendlZDA2
NEXT_PUBLIC_FACEBOOK= https://www.facebook.com/share/1Zm1QtD1G1/?mibextid=wwXIfr
NEXT_PUBLIC_TWITTER=https://x.com/Postmatic_id
NEXT_PUBLIC_LINKEDIN=https://www.linkedin.com/in/postmatic/
NEXT_PUBLIC_COMMUNITY=https://discord.gg/NNGwjhWWxG


NEXT_PUBLIC_VIDEO_TUTORIAL_URL=https://www.youtube.com/embed/ad79nYk2keg?rel=0&showinfo=0&autoplay=0

# MetaData
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_YANDEX_SITE_VERIFICATION=
NEXT_PUBLIC_YAHOO_SITE_VERIFICATION=





